/MineRider/nbproject/private/
/MineRider/build/
/MineRider/dist/
/JavaFXApplication22/nbproject/private/
/JavaFXApplication23/nbproject/private/
/JavaFXApplication22/build/
/ButtonExample/nbproject/private/
/ButtonExample/build/
/JavaFXApplication25/nbproject/private/
/MineRider_1/nbproject/private/
/MineRider_1/build/
/M/nbproject/private/
/MineRider_1/dist/